/* RequestsSection.css */

  .requests-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    width: 100%;
  }
  
 
  
  .requests-table {    
    border-collapse: collapse;
  }
  
  .requests-table th,
  .requests-table td {
    text-align: center;
    padding: 0.75rem;
    font-size: 18px;
    background-color: #EFE4D7;
    color: #1E1E1E;
  }

  .requests-table td {
    padding: 1.5rem;
  }

  .row_with_border {
    border-bottom: 3px solid #877358;

  }
  
  .requests-table th {
    font-weight: bold;
    background-color: #fdf6ec;
  }
  
  .requests-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }


  .action-button{
    background-color: #EFE4D7;
    border: 1.5px solid #877358;
    color: #3D2B1F;
    
  }

  .action-button:hover{
    background-color: #ffe;
    
    
  }
  

  