
.tabs-container {
    max-width: 800px;     
    margin: 0 auto;        
    padding-top: 2rem;
    text-align: center;    
}

.tabs-list-sent {
display: flex;
justify-content: center;
gap: 2rem;
margin-bottom: 1.5rem;
}

.tabs-trigger-sent{
    color: #A28D72;
}
