/* HomePage.css */

.home-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
  }
  
  .home-section {
    flex: 1;
    display: flex;
    width: 100%;
    background-color: #A28D72; 
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 0;
    flex-direction: row;
  }
  
  @media (max-width: 768px) {
    .home-section {
      flex-direction: column;
      gap: 1.5rem;
    }
  }
  
  .home-text {
    text-align: center;
    max-width: 500px;
  }
  
  .home-image-container {
    margin-left: 2.5rem;
    border: 20px solid #877358; 
    overflow: hidden;
  }
  
  .home-image-container img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
  }
  