/* RequestsPage.css */

.requests-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background-color: #EFE4D7;
  }
  .requests-heading {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    color: #1E1E1E;
    margin-bottom: 30px;
  }
  
  .tabs-container {
    max-width: 800px;     /* isto kao ostatak stranice */
    margin: 0 auto;        /* centriranje horizontalno */
    padding-top: 2rem;
    text-align: center;    /* za centriranje teksta ako treba */
  }
  
  .tabs-list {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .tabs-trigger {
    padding: 0.5rem 1.25rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #A28D72;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    color: #fff;
  }
  
  .tabs-trigger:hover {
    background-color: #EFE4D7;
    border: 1px solid #3D2B1F;
    color: #3D2B1F;
  }
  