.arrow {
    position:"absolute";
    right:"10px";
    top:"50%";
    transform:"translateY(-50%)";
    background-color:"rgba(0, 0, 0, 0.5)";
    color:"white";
}

.arrow:hover{
    background-color:"rgba(0, 0, 0, 0.7)";
}

.arrow-left {
    left: 10px;
}
  
.arrow-right {
right: 10px;
}