/* Calendar day text */
.fc .fc-daygrid-day-number {
  color: "#1E1E1E";
}

/* Header (Mon, Tue, etc.) */
.fc .fc-col-header-cell-cushion {
  color: "#1E1E1E";
}

/* Event titles */
.fc .fc-event-title {
  color: "#1E1E1E";
}

.fc-button {
  background-color: #1E1E1E !important;
  color: white !important;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
}

